/* WooCommerce Styles */

.woocommerce {
}

.woocommerce #container {
  background-color: #fff;
  clear: none;
  margin: 60px auto;
  padding: 60px;
  width: 1200px;
}

.woocommerce #content {
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px;
  width: 100%;
}

.woocommerce #sidebar {
  background-color: #fff;
  clear: none;
  float: right;
  padding: 30px;
  width: 20%;
}

.woocommerce a.button {
  display: inline-block;
  margin: 15px auto;
}

.woocommerce #content input.button.alt, 
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce-page #content input.button.alt, 
.woocommerce-page #respond input#submit.alt, 
.woocommerce-page a.button.alt, 
.woocommerce-page button.button.alt, 
.woocommerce-page input.button.alt {
  background: #E41A5C;
  color: #fff;
}


.woocommerce #content input.button.alt:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce-page #content input.button.alt:hover, 
.woocommerce-page #respond input#submit.alt:hover, 
.woocommerce-page a.button.alt:hover, 
.woocommerce-page button.button.alt:hover, 
.woocommerce-page input.button.alt:hover {

}

.woocommerce h2 {
  font-family: 'proxima-nova', sans-serif;
  font-size: 2.2em;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  width: 33.33333%;
}

.woocommerce ul.products {
  display: flex;
}

.woocommerce ul.products li {
  flex-basis: 33.3333%;
}

.woocommerce-page .product img {
  float: left;
}

#add_payment_method table.cart img, 
.woocommerce-cart table.cart img, 
.woocommerce-checkout table.cart img {
  width: 180px;
}

.woocommerce form .form-row input, 
.woocommerce form .form-row select, 
.woocommerce form .form-row textarea {
  border: 1px solid #111;
}

.woocommerce label {
  float: none;
  letter-spacing: normal;
} 

#customer_details {
  margin-bottom: 60px;
}

#customer_details > .col-1 {
  padding: 0;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
  width: 200px;
}

#add_payment_method #payment ul.payment_methods li img, 
.woocommerce-cart #payment ul.payment_methods li img, 
.woocommerce-checkout #payment ul.payment_methods li img {
  background-color: #fff;
  padding: 0 5px;
}

.woocommerce-page .select2-container--default .select2-results>.select2-results__options {
  overflow: visible;
}