body {
  color: #111;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
}

section {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 0 30px;
  position: relative;
  width: 100%;
}