footer {
  background-color: #111;
  color: @white;
  text-align: center;

  .flex-container {
    padding: @baseSpacing;
    position: relative;

    span {
      font-size: 0.6em;
      text-transform: uppercase;
    }
  }

  aside {
    clear: none;
    float: left;
    font-size: 1em;
    padding: 15px;
    text-align: center;
    width: 100%;
    
     h4 {
      font-weight: 600;
      letter-spacing: 0.25em;
      margin-bottom: 15px;
    }
  } 
}
