label {
  font-weight: @font-weight-heavy;
  text-transform: uppercase;
}

input[type=text], input[type=email], input[type=tel], select, textarea {
  border: none;
  border-radius: 3px;
  margin-bottom: @baseSpacing;
  padding: @baseSpacing / 2;
  width: 100%;
}

input[type=text]:focus, input[type=email]:focus, select:focus, textarea:focus {
  outline: none;
}

textarea {
  height: 260px;
}

input[type=submit] {
  .button(0);
}

// ::-webkit-input-placeholder,
// ::-moz-placeholder,
// :-ms-input-placeholder,
// :-moz-placeholder {
//   font-size: 1.2em;
// }

// ::-webkit-input-placeholder { /* WebKit browsers */
//   color: @white !important;
//   opacity: 1;
// }

// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//   color: @white !important;
//   opacity: 1;
// }
// ::-moz-placeholder { /* Mozilla Firefox 19+ */
//   color: @white !important;
//   opacity: 1;
// }
// :-ms-input-placeholder { /* Internet Explorer 10+ */
//   color: @white !important;
//   opacity: 1;
// }
