#header {
  .transition(box-shadow);
  background-color: @white;
  box-shadow: transparent;
  position: fixed;
  top: -90px;
  width: 100%;
  z-index: 900;

  &.sticky {
    box-shadow: @box-shadow-heavy;
    top: 0;

    .container-fluid {
      .logo {
        max-height: 100px;
        width: 200px;
      }
    }
  }

  .container-fluid {
    padding: (@baseSpacing / 2) @baseSpacing;

    .logo {
      transition: max-height 0.3s ease-in-out;
      max-height: 0;
    }
  }
}

.logo {
  width: 300px;
}

.admin-bar {
  #header {
    margin-top: 32px;
  }
}