#header {
  .transition(box-shadow);
  background-color: @white;
  box-shadow: transparent;
  text-align: center;
  width: 100%;
  z-index: 900;

  &.sticky {
    box-shadow: @box-shadow-heavy;
    position: fixed;
    top: 0;
  }

  .container-fluid {
    padding: (@baseSpacing / 2) @baseSpacing;

    .logo {
      .transition(max-height);
      max-height: 0;
      max-width: 0;
    }
  }
}

.logo {
  max-width: 300px;
}