.make-title() {
  font-family: @font-family-title;
  font-size: @font-size-lg;
  font-style: italic;
  line-height: @line-height-title;
}

.make-heading() {
  font-family: @font-family-heading;
  line-height: @line-height-heading;
}

.make-col(@columns; @padding:@baseSpacing) {
	float: left;
  padding: @padding;
  width: 100%*(@columns / @baseColumnCount);
}

.push(@columns) {
  margin-left: 100%*(@columns / @baseColumnCount);
}

.transition(@property; @speed:@transition-speed) {
	transition: @property @speed ease-in;
	will-change: @property;
}

.button(@margin:(@baseSpacing / 3)) {
  border: 2px solid;
  border-radius: 4px;
  color: @white;
  display: inline-block;
  font: @font-size-button @font-family-button;
  font-weight: @font-weight-heavy;
  margin: @margin;
  padding: (@baseSpacing / 2) @baseSpacing;
  text-transform: uppercase;
  text-align: center;
}

.fade-in() {
	.transition(opacity);
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}