#section-portfolio {
  .make-col(6);
  text-align: center;

   ul li {
    .make-col(4, (@baseSpacing / 3));

    .image-wrapper {
      border: @border-thin-light;
      position: relative;

      .project-meta {
        .fade-in();
        background: rgba(0, 60, 90, 0.9);
        bottom: 0;
        box-shadow: @box-shadow;
        color: @white;
        height: 100%;
        left: 0;
        padding: @baseSpacing / 2;
        position: absolute;
        right: 0;
        top: 0;

        h3 {
          margin-bottom: 0;
        }
      }
    }
  }
}
