
h1, h2, h3, h4 {
  .title()
}

h1 {
  margin-top: @baseSpacing;
}

h2 {
  color: @brand-color;
}
  
h3 {
  font-weight: @font-weight-light;
  margin: 0 auto (@baseSpacing / 3);
}

p {
  line-height: @line-height-text;
  margin: 0 auto @baseSpacing;
}

a {
  .transition(color);
  .transition(background-color);
  color: @link-color;
  text-decoration: none;

  &:active,
  &:hover {
    color: lighten(@link-color, 7%);
  }
}

button,
a.btn {
  background-color: @white;
  border: @border-thick;
  color: @black;
  display: inline-block;
  font: @font-size-button @font-family-button;
  font-weight: @font-weight-heavy;
  padding: @baseSpacing / 2;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:active {
    color: lighten(@link-color, %7);
  }
}

ul {
  overflow: hidden;
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

