// Colors
@brand-blue: #3299BB;
@dark-blue: #E41A5C;
@grey: #333;
@white: #fff;

// Grid
@baseColumnCount: 12;
@baseSpacing: 15px;

// Media Sizes
@min-device-width-large-desktop: 1800px;
@min-device-width-desktop: 1200px;
@min-device-width-tablet: 900px;
@min-device-width-phone: 600px;
@max-device-width-phone: 599px;