#header {
  .transition(box-shadow);
  background-color: @white;
  box-shadow: transparent;
  position: fixed;
  top: -90px;
  width: 100%;
  z-index: 900;

  .container-fluid {
    padding: (@baseSpacing / 2) @baseSpacing;

    .logo {
      .transition(margin-bottom);
      // height: 40px;
      // transition: margin-bottom 0.3s ease-in;
      margin-bottom: -90px;
    }
  }

  &.sticky {
    box-shadow: @boxShadow;
    top: 0;

    .container-fluid {
      .logo {
        margin-bottom: 0;
        width: 220px;
      }
    }
  }
}

@media @minPhone {
  .admin-bar #header {
    margin-top: 32px; // Accounting for the WordPress admin bar when present
  }
}