body.home {
	text-align: center;

	#header {
    .transition(top);
	  top: -90px;

	  .container-fluid {
		  .logo-wrap {
		  	.make-col(2, 0);
		  	.push(5);
		  	text-align: center;

		  	.logo {
		  		display: inline-block;
		  		margin: 0 auto -(@baseSpacing * 3);
			  }
			}

			.title-wrap {
		  	display: none;
		  }
	  }
	}

	&.sticky #header {
			top: 0;

		.container-fluid .logo {
	    margin-bottom: 0;
	  }
	}
}

#section-home-header {
	background-color: @blue-dark;
	color: @white;
	
	.container {
		.make-col(10);
		.make-col-sm(12, 0);
		.push(1);

		.logo {
			margin-bottom: @baseSpacing / 2;
		  width: 320px;
		}

		h3:after {
			margin: @baseSpacing auto;
			width: 50%;
		}

		span {
			display: block;
			font-size: @font-size-lg;
		}
	}
}

@media @maxTablet {
	#section-home-header .container {
		padding: 0;
		
		 span {
			font-size: @font-size-md;
		}
	}

	.shape-wrap	.shape-vee {
		height: 70px;
	}
}

@media @maxPhoneSm {
	#section-home-header .container {
		h3 {
			font-size: @font-size-md;

			&:after {
				margin: 12px auto (@baseSpacing / 2);
			}
		}

		.logo {
			margin-top: @baseSpacing;
			width: 290px;
		}
	}
}

@import "section-bio";
@import "section-langauges";
@import "section-services";
@import "section-portfolio";
@import "section-contact";