// Grid Mixins
.row(@padding:@baseSpacing) {
  padding-left: @padding;
  padding-right: @padding;
  width: 100%;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.make-col(@columns; @padding:@baseSpacing) {
  float: left;
  padding: @padding;
  width: 100%*(@columns / @baseColumnCount);
}

.push(@columns) {
  margin-left: 100%*(@columns / @baseColumnCount);
}

// Type Mixins
.make-title(@font-family:@font-family-title) {
  font-family: @font-family-title;
  font-size: @font-size-xl;
  font-style: italic;
  font-weight: @font-weight-medium;
  line-height: @line-height-title;
}

.make-heading() {
  font-family: @font-family-heading;
  font-size: @font-size-lg;
  font-weight: @font-weight-medium;
  line-height: @line-height-heading;
}

.button(@color:@black; @margin:(@baseSpacing / 3)) {
  background-color: @white;
  border: 2px solid @color;
  border-radius: @borderRadius;
  color: @color;
  cursor: pointer;
  font: @font-size-button @font-family-button;
  font-weight: @font-weight-heavy;
  letter-spacing: @letter-spacing-title;
  margin: @margin;
  padding: (@baseSpacing / 2) @baseSpacing;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:active {
    background-color: @black;
    color: @white;
  }
}

// Effects
.transition(@property; @speed:@transition-speed) {
  transition: @property @speed ease-in;
  will-change: @property;
}

.fade-in() {
	.transition(opacity);
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}