// Utility
.clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Grid Mixins
.row(@padding:@baseSpacing) {
  .clearfix();
  padding-left: @padding;
  padding-right: @padding;
  width: 100%;
}

.make-col(@columns; @padding:@baseSpacing) {
  float: left;
  min-height: 1px;
  overflow: hidden;
  padding: @padding;
  width: 100%*(@columns / @baseColumnCount);
}

.push(@columns) {
  margin-left: 100%*(@columns / @baseColumnCount);
}

// Type Mixins
.make-title(@font-family:@font-family-title) {
  font-family: @font-family-title;
  font-size: @font-size-xl;
  font-style: italic;
  font-weight: @font-weight-medium;
  line-height: @line-height-title;
  text-align: center;
}

.make-heading() {
  font-family: @font-family-heading;
  font-size: @font-size-lg;
  font-weight: @font-weight-heavy;
  line-height: @line-height-heading;
  margin: (@baseSpacing / 2) 0;
  text-align: center;
  text-transform: uppercase;
}

.button(@color:@black) {
  background-color: @color;
  border-color: @color;
  color: @white;
  cursor: pointer;
  display: block;
  font: @font-size-button @font-family-button;
  font-weight: @font-weight-heavy;
  letter-spacing: @letter-spacing-title;
  line-height: @line-height-btn;
  margin: (@baseSpacing / 2) auto;
  max-width: 200px;
  padding: (@baseSpacing / 2) @baseSpacing;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: background-color @transition-speed, border-color @transition-speed;

  &:hover,
  &:active {
    background-color: @link-color;
  }
}

// Effects
.transition(@property; @speed:@transition-speed) {
  transition: @property @speed ease-in;
  will-change: @property;
}

.fade-in() {
	.transition(opacity);
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}