// Utility
.clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.flex-wrap() {
  display: flex;
  flex-flow: row wrap;
  margin-top: @baseSpacing;
}

// Grid Mixins
.row(@padding:@baseSpacing) {
  .clearfix();
  padding-left: @padding;
  padding-right: @padding;
  width: 100%;
}

.make-col(@columns; @padding:@baseSpacing) {
  float: left;
  min-height: 1px;
  overflow: hidden;
  padding: @padding;
  width: 100%*(@columns / @baseColumnCount);
}

.push(@columns) {
  margin-left: 100%*(@columns / @baseColumnCount);
}

// Type Mixins
.make-title(@font-family:@font-family-title) {
  font-family: @font-family-title;
  font-size: @font-size-title;
  font-weight: @font-weight-heavy;
  letter-spacing: @letter-spacing-title;
  line-height: @line-height-title;
  margin-bottom: @baseSpacing;
  text-transform: uppercase;  
  line-height: @line-height-title;
}

.make-heading() {
  font-family: @font-family-title;
  font-size: @font-size-lg;
  font-weight: @font-weight-heavy;
  letter-spacing: @letter-spacing-heading;
  line-height: @line-height-heading;
  margin: (@baseSpacing / 2) 0;
  text-transform: uppercase;
}

.button(@color:@black) {
  background-color: @white;
  border: 2px solid @color;
  border-radius: 30px;
  color: @color;
  cursor: pointer;
  display: block;
  font: @font-size-button @font-family-button;
  font-weight: @font-weight-heavy;
  letter-spacing: @letter-spacing-title;
  line-height: @line-height-btn;
  margin: (@baseSpacing / 2) auto;
  max-width: 180px;
  padding: (@baseSpacing / 3) @baseSpacing;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: background-color @transition-speed, border-color @transition-speed;

  &:hover,
  &:active {
    background-color: @black;
    color: @white;
  }
}

// Effects
.transition(@property; @speed:@transition-speed) {
  transition: @property @speed ease-in;
  will-change: @property;
}

.fade-in() {
	.transition(opacity);
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}