.card-grid .container-fluid > ul {
  .flex-wrap();

  > li {
    .make-col(4);
    .make-col-sm(6, 0);
    .make-col-xs(12, 0);
    margin: 0;

    .card {
      img {
        background-color: @blue;
        opacity: 1;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: @yellow;
        }
      }

      .project-meta {
        
        h3 {
          font-size: @font-size-md;
          line-height: @line-height-heading;
          margin: (@baseSpacing / 3) auto 0;
          text-transform: none;

          &:after {
            display: none;
          }
        }
      }
    }
  }
}

ul.tags li a {
  display: inline;
  font-size: @font-size-xs;
  font-weight: @font-weight-heavy;
  text-transform: uppercase;
}

@media @maxPhone {
  #section-portfolio {
    .container-fluid {
      padding: 0;

      > ul > li {
        margin-bottom: @baseSpacing / 2;
      }
    }
  }
}
