.page-contact .page-section,
#section-contact {
	padding: 0;

	> p {
		margin-bottom: @baseSpacing;
		text-align: center;
	}

	.container-fluid {
		padding-bottom: 0;

		> div {
			.flex-wrap();

			.text-wrap {
			  .make-col(6, @baseSpacing * 3);
			  .make-col-md(12);
			  background-color: @blue;
				color: @white;
				text-align: left;

				h3 {
					margin-bottom: 0;
				}

				ul li {
					margin-bottom: @baseSpacing / 2;
				}

				a {
					color: @white;
				}
			}

			.form-wrap {
			  .make-col(6, @baseSpacing (@baseSpacing * 3));
			  .make-col-md(12, 0 (@baseSpacing / 2));
			  .make-col-sm(12, 0);
				float: right;

			  .contact-info {
			  	border-bottom: 1px solid @white;
			  	margin-bottom: @baseSpacing;
			  	padding-bottom: @baseSpacing / 3;
			  	text-align: center;

				  ul li {
				  	display: inline;
				  	font-size: @font-size-sm;
				  	margin: 0 (@baseSpacing / 3);

				  	a {
				  		.transition(color);
				  		color: @white;

				  		&:hover {
				  			color: @yellow;
				  		}
				  	}

				  	.svg-inline--fa {
			    		font-size: @font-size-sm;
				  	}
				  }
				}

			  form {
			  	text-align: left;

				  p label {
				  	line-height: 1.2rem;
				  }

					> div {
					  .make-col(6, (@baseSpacing / 3));

						&:nth-of-type(2) { padding-left: 0; }
					  &:nth-of-type(3) { padding-right: 0;}
					}

					div.wpcf7-validation-errors,
					div.wpcf7-acceptance-missing {
						border: 2px solid @yellow;
						margin: 0 auto (@baseSpacing * 2);
						padding: (@baseSpacing / 2) @baseSpacing;
						width: 100%;
					}
				}
			}
		}
	}
}

@media @maxPhone {
	.page-contact .page-section, 
	#section-contact {
		padding: 0;

		.form-wrap form > div {
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}

@media @maxPhoneSm {
	#section-contact, 
	.page-contact .page-section {
		.text-wrap {
			padding: 0;
		}

		.form-wrap {
			.contact-info { 
				ul li {
					display: block;
					margin: @baseSpacing / 5;
					text-align: left;
				}
			}

			.form-wrap form > div {
				padding: 0;
				width: 100%;
			}
		}
	}
}
