#section-contact {
	background-color: @blue-dark;
	text-align: left;

	form {
	  max-width: 600px;

	  label {
	  	color: @white;
	  	line-height: 1.2rem;
	  }

	  input,
	  textarea { 
			background-color: @grey-light;
	  }

	  input[type="submit"] {
	  	background-color: @black;
	  	border-color: @black;
	  	bottom: @baseSpacing * 1.8;
	  	position: absolute;
	  	right: @baseSpacing / 2.6;
	  }

		> div {
		  .make-col(6, (@baseSpacing / 3));

			&:nth-of-type(2) { padding-left: 0; }
		  &:nth-of-type(3) { padding-right: 0;}
		}

		div.wpcf7-validation-errors,
		div.wpcf7-acceptance-missing {
			border: 2px solid @white;
			color: @white;
		}
	}
}