#section-services {
	background-color: @blue-dark;

	.panel-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		margin: (@baseSpacing / 2) auto 0;
		padding: @baseSpacing;

		li {
			background-color: @white;
			flex: 0 1 30%;
			margin-bottom: 2% ;
			padding: @baseSpacing (@baseSpacing / 2);
			position: relative;

			h3 {
				line-height: @line-height-body;
			}

			svg {
				bottom: @baseSpacing / 3;
				color: @blue;
				font-size: @font-size-icon;
				left: @baseSpacing / 2;
				line-height: 1;
				margin-bottom: @baseSpacing / 2;
				opacity: 0.17;
				position: absolute;
			}
		}
	}
}

@media @maxTablet {
	#section-services .panel-list {
		padding: 0;

		li {
			flex: 0 2 48%;
		}
	}
}

@media @maxPhoneSm {
	#section-services .panel-list {

		li {
			flex: 0 3 100%;
			margin-bottom: @baseSpacing / 2;
			padding: @baseSpacing / 2;
			text-align: left;

			h3 {
				display: block;
				margin-bottom: @baseSpacing / 2;
			}

			span {
				display: inline-block;
				line-height: @line-height-body;
				text-align: left;
			}
		}
	}
}