#section-bio {
	background-color: @yellow;
	padding: (@baseSpacing * 4) 0 0;

	img {
		.make-col(5, 0);
	}

	.text-wrap {
		.make-col(6, (@baseSpacing * 2) );
		margin: @baseSpacing (@baseSpacing / 3);
		padding-bottom: 0;
		text-align: justify;
	}
}