#section-services {
	.container-fluid > ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		li {
			border: 1px solid @grey;
			flex: 0 1 30%;
			margin-top: @baseSpacing / 2;
			padding: 2% 1%;
			position: relative;

			p {
				font-size: @font-size-sm;
				line-height: @line-height-md;
			}

			svg {
				color: @blue;
				display: none; //
				font-size: @font-size-icon;
				line-height: 1;
				margin-top: (@baseSpacing / 3) auto;
			}
		}
	}
}

@media @maxTablet {
	#section-services .panel-list {
		padding: 0;

		li {
			flex: 0 2 48%;
		}
	}
}

@media @maxPhoneSm {
	#section-services .panel-list {

		li {
			flex: 0 3 100%;
			margin-bottom: @baseSpacing / 2;
			padding: @baseSpacing / 2;
			text-align: left;

			h3 {
				display: block;
				margin-bottom: @baseSpacing / 2;
			}

			span {
				display: inline-block;
				line-height: @line-height-body;
				text-align: left;
			}
		}
	}
}