#section-bio {
	background-color: @blue-dark;
	padding: (@baseSpacing * 4) 0 0;

	.container-fluid {
		overflow: visible;
		padding-bottom: 0;

		.image-wrap {
			.make-col(6, 0);
			.make-col-sm(12, @baseSpacing);
			bottom: 0;
			position: absolute;

			img {
				float: left;
			}
		}

		.text-wrap {
			.make-col(6, @baseSpacing (@baseSpacing * 2) (@baseSpacing * 4));
			.make-col-sm(10, @baseSpacing, 1);
			.make-col-xs(12, 0 (@baseSpacing / 2));
			.push(6);
			margin-top: @baseSpacing * 4;
			overflow: hidden;

			p,
			strong {
				color: @white;
				text-align: left;
			}

			strong {
				.make-title();
				display: block;
				text-align: left;
				margin-bottom: 0;
			}
		}
	}
}

#section-resume {
	background-color: @yellow-light;

	.container-fluid {
		padding: 0;

		.btn {
			margin-bottom: 0;
			margin-top: @baseSpacing;
		}
	}
}

@media @maxTablet {
	#section-bio {
		padding-top: @baseSpacing;

		.container-fluid {

			.image-wrap {
				position: relative;
			}

			.text-wrap {
				margin-top: 0;
				padding: 0;
				padding-right: @baseSpacing;
			}
		}
	}
}

@media @maxPhone {
	#section-bio .container-fluid {
		flex-flow: row;

		.image-wrap {
			flex: 0 2 100%;

			img {
				background-color: @white;
				border: 2px solid @white;
				border-radius: 50%;
				height: 220px;
				margin: @baseSpacing auto 0;
				position: relative;
				width: 220px;
			}
		}

		.text-wrap {
			flex: 0 2 100%;
		}
	}
}