#section-bio {
	padding: 0;

	.container-fluid {
		padding-bottom: 0;
		padding-top: @baseSpacing * 2;
		overflow: visible;

		.image-wrap {
			.make-col(5, 0);
			.make-col-sm(12, @baseSpacing);
			bottom: 0;
			position: absolute;

			img {
				float: left;
				max-width: 600px;
			}
		}

		.text-wrap {
			.make-col(6, 0 @baseSpacing (@baseSpacing * 2));
			.make-col-sm(12, @baseSpacing / 2);
			.push(5);
			margin-top: @baseSpacing * 4;
			overflow: hidden;

			p,
			strong {
				margin: 0 (@baseSpacing * 2) @baseSpacing @baseSpacing;
				text-align: left;
			}
			
			strong {
				.make-title();
				color: @blue-dark;
				display: block;
				font-size: @font-size-xxl;
				margin-bottom: @baseSpacing / 2;
				text-align: left;
			}
		}
	}
}

#section-resume {
	background-color: @blue-dark;
	color: @white;

	.container-fluid {
		padding: 0;

		h4 {
			font-family: @font-weight-heavy;
			font-style: normal;
		}

		.btn {
			background-color: @yellow-light;
			border-color: @yellow-light;
			color: @blue-dark;
			margin-bottom: 0;
			margin-top: @baseSpacing;

			&:hover {
				border-color: @yellow;
				background-color: @yellow;
			}
		}
	}
}


@media @maxPhone {
	body #section-langauges {
		background-color: @white;

		ul li {
	 		padding: 0;

			svg,
	 		span {
	 			color: @blue-dark;
	 		}
		}
	}
}

@media @maxTablet {
	#section-bio {
		padding-top: @baseSpacing;

		.container-fluid {
			.image-wrap {
				position: relative;
			}

			.text-wrap {
				margin-top: 0;
				padding: (@baseSpacing / 2);

				p {
					margin: 0;
				}
			}
		}
	}
}

@media @maxPhone {
	.shape-wrap {
		display: none;
	}

	#section-bio .container-fluid {
		flex-flow: row;

		.image-wrap {
			img {
				height: 220px;
				margin: @baseSpacing auto 0;
				position: relative;
				text-align: center;
				width: 220px;
			}
		}
	}
}

.shape-wrap {
	padding: 0;

	.shape-vee {
		background-color: @blue-dark;
		-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
		clip-path: polygon(50% 100%, 0 0, 100% 0);
		height: 200px;
		margin-top: -1px;
	}
}