body {
  color: @black;
  font: @font-size-md @font-family-body;
  font-weight: @font-weight-medium;
  letter-spacing: @letter-spacing-body;
  line-height: @line-height-body;
}

h1 {
  margin-top: @baseSpacing;
}

h2 {
  .make-title();
}
  
h3 {
  .make-heading();
  font-weight: @font-weight-heavy;
  margin: 0 auto (@baseSpacing / 3);
  text-transform: uppercase;

    &::after {
    background-color: @blue;
    content: " ";
    display: block;
    height: 2px;
    margin: (@baseSpacing / 2) auto;
    width: 60px;
  }
}

h4 {
  font-family: @font-family-serif;
  font-size: @font-size-lg;
  font-style: italic;
  font-weight: @font-weight-heavy;
  line-height: @line-height-heading;
}

p,
a {
  &.alt {
    font-family: @font-family-serif;
    font-style: italic;
  }
}

p {
  line-height: @line-height-body;
  margin: 0 auto @baseSpacing;
}

strong {
  font-weight: @font-weight-heavy;
}

a {
  .transition(color);
  color: @link-color;
  text-decoration: none;

  &:active,
  &:hover {
    color: lighten(@link-color, 7%);
  }
}

button,
a.btn {
  .button();

  .svg-inline--fa {
    font-size: @font-size-lg;
    left: @baseSpacing;
    position: absolute;
  }
}

ul {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

ul.tags {
  margin-bottom: @baseSpacing / 3;

  li {
    color: @grey;
    display: inline;
    font-weight: @font-weight-heavy;
    margin: @baseSpacing / 5;
  }
}
