// Media Sizes
@maxDesktopLg: ~"only screen and (min-width: 1800px)";
@minDesktop: ~"only screen and (min-width: 1200px)";
@minTablet: ~"only screen and (min-width: 900px)";
@minPhone: ~"only screen and (min-width: 600px)";

@maxDesktop: ~"only screen and (max-width: 1799px)";
@maxTablet: ~"only screen and (max-width: 1199px)";
@maxPhone: ~"only screen and (max-width: 899px)";
@maxPhoneSm: ~"only screen and (max-width: 599px)";

// Grid
@container-width: 1200px;
@baseColumnCount: 12;
@baseSpacing: 30px;

// Colors
@black: darken(@grey, 35%);
@blue: #00A0EE;
// @blue-dark: #003C5A;
@blue-dark: darken(@blue, 30%);
@grey: #6B6B6B;
@grey-light: lighten(@grey, 48%);
@grey-dark: darken(@grey, 22%);
@white: #FFFFFF;
@yellow: #FFB800;
@yellow-light: lighten(@yellow, 18%);

@brand-color: @blue;
@brand-color-dark: @blue-dark;
@brand-color-light: @yellow;

@text-color: @black;
@link-color: @blue;
@link-hover-color: @blue-dark;

// Text Base
@font-family-serif: "utopia-std-subhead", Utopia, Cambria, "Hoefler Text", "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
@font-family-sans-serif: "lato", Geneva, Tahoma, sans-serif;

@font-size-base: 18px;

@font-size-xxl: 56px;
@font-size-xl: 36px;
@font-size-lg: 22px;
@font-size-md: @font-size-base;
@font-size-sm: 14px;
@font-size-xs: 11px;

// Buttons
@font-size-icon: 80px;
@font-size-button: @font-size-sm;

@font-weight-light: 300;
@font-weight-medium: 500;
@font-weight-heavy: 700;

// Text Styles
@font-family-title: @font-family-serif;
@font-family-heading: @font-family-sans-serif;
@font-family-body: @font-family-sans-serif;
@font-family-button: @font-family-sans-serif;

@letter-spacing-body: 0.082rem;
@letter-spacing-title: 0.182rem;

@line-height-title: 3rem;
@line-height-heading: 2rem;
@line-height-body: 1.6rem;
@line-height-btn: 1.4rem;
@line-height-sm: 1.1rem;

// Borders
@borderRadius: 3px;
@borderRadius-lg: 8px;

// Transitions
@transition-speed: 0.15s;

@box-shadow: 0 0 6px -1px @grey;
@box-shadow-vertical: 0px 5px 20px -10px @grey;
